@import url('https://fonts.cdnfonts.com/css/cheerful-cupcake');
@import url('https://fonts.cdnfonts.com/css/ds-chocolade');
@import "tailwindcss";

body{
  margin: 0;
  font-family: 'Cheerful Cupcake';
}

.flexy{
  @apply flex flex-col justify-center items-center
}

.app{
  background-image: url("/src/assets/background.webp");
}

.chocolade{
  font-family: 'DS Chocolade', sans-serif;
}